{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}


<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <h2>Reset Password</h2>
                        </div>
                        <h2 class="fs-6 fw-normal text-center text-secondary mb-4">
                            Set your new password here.
                        </h2>
                        <form action="/reset-password/{{id}}" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="row gy-2 overflow-hidden">

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="New Password" required>
                                        <label for="password" class="form-label">New Password <small
                                                class="text-danger">*</small></label>
                                        {% if form.password.errors %}
                                        <div class="text-danger">{{ form.password.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" name="confirm_password" id="confirm_password"
                                            class="form-control" placeholder="Confirm Pa4" required>
                                        <label for="confirm_password" class="form-label">Confirm Password <small
                                                class="text-danger">*</small></label>
                                        {% if form.confirm_password.errors %}
                                        <div class="text-danger">{{ form.confirm_password.errors[0] }}</div>
                                        {% endif %}
                                    </div>

                                </div>


                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">Reset</button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="m-0 text-secondary text-center">Remember it?
                                        <a href="{{ url_for('auth_routes.login') }}"
                                            class="link-primary text-decoration-none">
                                            Login
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}