{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}


<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <h2>Update Password</h2>
                        </div>
                        
                        <form action="/update_password" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="row gy-2 overflow-hidden px-3">

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="old_password" id="old_password" class="form-control"
                                           placeholder="Old Password" required>
                                        <label for="password" class="form-label">Old Password <small class="text-danger">*</small></label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="password" id="password" class="form-control"
                                           placeholder="Password" required>
                                        <label for="password" class="form-label">New Password <small class="text-danger">*</small></label>
                                        {% if form.password.errors %}
                                        <div class="text-danger">{{ form.password.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" name="confirm_password" id="confirm_password"
                                            class="form-control" placeholder="Confirm Password" required>
                                        <label for="confirm_password" class="form-label">Confirm Password <small class="text-danger">*</small></label>
                                        {% if form.confirm_password.errors %}
                                        <div class="text-danger">{{ form.confirm_password.errors[0] }}</div>
                                        {% endif %}
                                    </div>

                                </div>


                                <div class="col-12">
                                    <div class="d-grid mt-2">
                                        <button class="btn btn-primary btn-lg" type="submit">Update</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}