{% extends 'base.html' %}

{% block title %}Update Blog{% endblock %}

{% block content %}
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h2>Update Blog</h2>
                        </div>
                        
                        <form action="/blog/update/{{encrypt_id(blog['id'])}}" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}

                            <div class="row gy-2 overflow-hidden px-3">

                                {% if blog.image_path %}
                                    <div class="col-12 text-center mb-3">
                                        <img src="{{ '/' + blog.image_path }}" alt="Blob Image" class="rounded-circle me-2" width="80" height="80">
                                    </div>
                                {% endif %}

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="title" id="title" placeholder="Title" value="{{ blog['title'] }}" class="form-control">
                                        <label for="title" class="form-label">Title <small class="text-danger">*</small></label>
                                        {% if form.title.errors %}
                                            <div class="text-danger">{{ form.title.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea name="content" id="content" placeholder="Content" class="form-control">{{ blog['content'] }}</textarea>
                                        <label for="content" class="form-label">Content <small class="text-danger">*</small></label>
                                        {% if form.content.errors %}
                                            <div class="text-danger">{{ form.content.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="file" name="image" id="image" class="form-control">
                                        <label for="image" class="form-label">Upload Image</label>
                                        {% if form.image.errors %}
                                            <div class="text-danger">{{ form.image.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button class="btn btn-primary btn-lg" type="submit">Update</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
