<center>
    <br>
    <br>
    <br>
    <h3><u>Create new user</u></h3>
    <form action="/user/create" method="post">

        <div>
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter your Name here." />
        </div>
        <br>

        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Enter your Email here." />
        </div>
    
        <br>

        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</center>